<!DOCTYPE html>
<html>
<head  data-th-replace="parts/head :: cabecera(~{::title}, _)">
<meta charset="UTF-8">
<title>Inicio</title>
</head>
		<title>Detalles</title>
	</head>
<body>
<nav data-th-replace="parts/menu :: menu"></nav>
	<div class="container bg-dark">
		<div class="row mt-3"></div>
		
		<div class="row mt-5" >
			<div class="col-12 text-center my-5">
				<p class="fs-1 text-warning fw-bold font-monospace" data-th-text="${curso.nombre}"></p>
			</div>
			<div class="row">
				<div class="col-3">
					<img alt="" class="img-thumbnail" data-th-src="@{/curso/image/{id}(id=${curso.id})}" >
				</div>
				<div class="col-5 d-flex align-items-center text-white">
					<div class="row">
						<div class="col-12">
							<p class="fs-4">Descripcion: </p>
						</div>
						<div class="col-12">
							<p class="fs-6" data-th-text="${curso.descripcion}"></p>
						</div>
					</div>
				</div>
				
			<div class="row">
				<div class="col-12 mt-3">
					<p class="fs-6 text-white">Fecha inicio: <span class="fs-6" data-th-text="${curso.postulancionesFechaInicio}"></span></p>
					<p class="fs-6 text-white">Fecha fin: <span class="fs-6" data-th-text="${curso.postulancionesFechaTermino}"></span></p>
					<p class="fs-6 text-white">Cupos: <span class="fs-6" data-th-text="${curso.cupos}"></span></p>
				</div>
			</div>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="btn btn-outline-danger" data-th-href="@{/}">Volver</a>
				<a data-sec-authorize="hasAuthority('POSTULANTE')" class="btn btn-outline-success" data-th-href="@{/postulacion/registrar/{id}(id=${curso.id})}">Postular</a>
			</div>
		</div>
	</div>
	<div data-th-replace="parts/scripts :: scripts"></div>
	<div data-th-replace="parts/footer :: pie"></div>
</body>
</html>