<!DOCTYPE html>
<html>
<head  data-th-replace="parts/head :: cabecera(~{::title}, _)">
<meta charset="UTF-8">
		<title>Nuevo curso</title>
	</head>
<body>
	<nav data-th-replace="parts/menu :: menu"></nav>
	
	<main class="container"><br/>
		<h1 align="center"> Formulario de Nuevo Curso</h1>
		<div class="my-3 p-3 rounded bg-dark text-white">
			<form data-th-action="@{/administrador/nuevocurso}" data-th-object="${curso}" enctype="multipart/form-data" method="POST">
				<div data-th-if="${#fields.hasErrors()}" class="alert alert-danger">
					Porfavor Revise los campos, No puede estar vacío!
				</div>
				<label class="form-label"> Nombre:</label> 
					<input class="form-control" type="text" data-th-field="*{titulo}" />	
					
				<label class="form-label"> Fecha de Inicio: </label> 
					<input class="form-control" type="date" data-th-field="*{postulacionesFechaInicio}" />
					<p  data-th-if="${#fields.hasErrors('postulacionesFechaInicio')}" data-th-class="${#fields.hasErrors('fechaInicio')}? text-danger" data-th-errors="*{fechaInicio}"></p>
										
				<label class="form-label"> Fecha de Termino: </label> 
					<input class="form-control" type="date" data-th-field="*{postulacionesFechaTermino}" />
					<p  data-th-if="${#fields.hasErrors()}" data-th-class="text-danger" >Revise la fecha, no puede ser ANTES de HOY</p>
				
				
				<label class="form-label"> Cupos: </label> 
					<input class="form-control" type="text" data-th-field="*{cupos}" />
					<p  data-th-if="${#fields.hasErrors('cupos')}" data-th-class="${#fields.hasErrors('cupos')}? text-danger" data-th-errors="*{cupos}"></p>
					
				<label class="form-label">Imagen:</label>
					<input class="form-control" type="file" id="image-file" name="image" accept="image/jpeg, image/png" />
					<p  data-th-if="${#fields.hasErrors('imagen')}" data-th-class="${#fields.hasErrors('imagen')}? text-danger" data-th-errors="*{imagen}"></p>
					
				<label class="form-label"> Descripcion: </label> 
					<textarea class="form-control" data-th-field="*{descripcion}" rows="10" cols="10"></textarea>
					<p  data-th-if="${#fields.hasErrors('descripcion')}" data-th-class="${#fields.hasErrors('descripcion')}? text-danger" data-th-errors="*{descripcion}"></p>
				
				
					<br/>
						
				<input type="hidden" data-th-field="*{id}" />
				<button class="btn btn-primary" type="submit">Guardar</button> 	<a class="btn btn-primary" data-th-href="@{/}">Volver</a>
			</form>
		</div>

	</main>
	<div data-th-replace="parts/scripts :: scripts"></div>
	<div data-th-replace="parts/footer :: pie"></div>
</body>
</html>